/* ==UserStyle==
@name           Discord Refresh Better Text Form
@namespace      discord.com/app
@version        1.0.1
@description    Fixes the misaligned text area on the new UI refresh.
@author         Me
==/UserStyle== */

@-moz-document domain("discord.com") {
.base_b88801.typing_b88801 {
    top:-24px !important;
    background:var(--bg-overlay-chat,var(--background-base-lower));
    opacity: 80%;
}
.channelTextArea_f75fb0 {
    margin-bottom: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.messagesWrapper__36d07 {
    top: -10px;
}
}
