/* ==UserStyle==
@name           Skeuomorphic Theme for V3 + StarTube 2016
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Take 2 of a skeuomorphic theme.
@author         Me
==/UserStyle== */

@-moz-document domain("youtube.com") {
    [modern-cards][dark] .cardified-page #yt-masthead-container, .dark-mode .st-acme, [modern-cards][dark] .cardified-page #masthead-appbar-container {
    background: linear-gradient(180deg, #222222d9, #00000026) !important;
    backdrop-filter: blur(8px);
}

#masthead-search .search-btn-component, #masthead-search .search-btn-component .start {
    background: linear-gradient(180deg, #3571d5, #1c3479, #1c1b6991) !important;
    border-radius: 0px 100px 100px 0px;
}

[modern-cards][dark] #appbar-guide-menu {
    background: linear-gradient(#090909, #30303000), url(https://cdn.pixabay.com/photo/2015/09/10/14/14/scratched-934483_1280.jpg) 0px 0px !important;
    background-size: cover !important;
    box-shadow: 5px 0px 16px 0px black !important;
}

[modern-cards][dark] #appbar-guide-menu #guide-container, [modern-cards][dark] .cardified-page #watch7-headline, [modern-cards][dark] .dark-mode #appbar-guide-menu::before, [modern-cards][dark] .cardified-page .distiller_yt_instance, #yt-masthead-user #sb-button-notify, a.yt-uix-button.yt-uix-button-epic-nav-item, button.yt-uix-button-epic-nav-item, .epic-nav-item, .watch7-playlist-bar-left, [exp-modern-playlists] #watch7-playlist-bar-controls, [exp-modern-playlists] .watch7-playlist-bar-secondary-controls{
    background:none !important;
}

.yt-shelf-grid-item .ux-thumb-wrap, .distiller_yt-thread_avatar, #watch7-sidebar {
    box-shadow: 0px 1px 12px #000 !important;
}

[modern-styles]:not([poly-styles]) .feed-item-container.browse-list-item-container {
    background: linear-gradient(180deg, #222, #00000054);
}

#guide-container .guide-item.guide-item-selected, #guide-container .guide-collection-item .guide-item.guide-item-selected, #guide-container .guide-item.guide-item-selected:hover {
    background: linear-gradient(180deg, #cc181e, #510505);
    box-shadow: 0px 1px 20px 0px black;
}

.dark-mode.cardified-page .st-watch-row, .dark-mode.cardified-page #st-below-title-row, .dark-mode.cardified-page .st-desc-content {
    background: linear-gradient(3deg, #222, #121212) !important;
    box-shadow: 0px 0px 9px 0px #00000075;
}

.watch8-floater, .st-floater {
    background: linear-gradient(180deg, #222, #080808);
    border: 1px solid #252525;
}
    
#appbar-guide-menu .guide-section-separator {
    box-shadow: 0px 5px 11px 1px #000000;
}
    
[modern-cards][dark] .cardified-page #watch-discussion {
    background: #161616 !important;
    box-shadow: 0px 1px 12px #000;
}
    
[modern-cards][dark] .cardified-page .distiller_yt-thread_user-content .cssAction_Expander, .cardified-page #watch7-sidebar-contents > .watch-sidebar-section, .cardified-page .v3 #watch7-sidebar-contents {
    background: #161616 !important;
}
    
[modern-cards][dark] .cardified-page .yt-card  {
    background: linear-gradient(124deg, #1a1a1a, #222, #080808) !important;
    box-shadow: 0px 1px 12px #000;
}
    
[modern-cards] .cardified-page .branded-page-v2-primary-col .branded-page-box {
    background: linear-gradient(300deg, #0a0a0a, #272727);
}
    
.st-panel-close {
    filter: invert(1);
}
    
.yt-uix-button-default, #st-account-menu-details a, [modern-cards][dark] .yt-uix-button-subscribe-unbranded, .oz-panel-previous-posts-button {
    background: linear-gradient(180deg, #737373 10%, #353535 40%, #000) !important;
    border-radius: 8px;
}
    
[exp-rounded-topbar-pfp] .yt-masthead-user-icon .yt-thumb {
    border-radius: 10%;
}
    
[modern-styles] .epic-nav-item-heading {
    background: linear-gradient(180deg, black 10%, #101010 60%, #414141) !important;
    box-shadow: 0px 0px 12px var(--default-red);
    border: none !important;
    border-radius: 10px;
}
    
#yt-masthead #masthead-search-terms {
    border-radius: 100px 0px 0px 100px;
}
    
[modern-cards][dark]:not([exp-material-search]) #search-btn span {
    opacity: 1;
}
    
#masthead-search-terms input {
    padding: 2px 10px;
}
    
.yt-alert-default.yt-alert-info, .yt-alert-actionable.yt-alert-info, .yt-alert-naked.yt-alert-info .yt-alert-icon, .yt-alert-small.yt-alert-info, .yt-alert-default.yt-alert-success, .yt-alert-actionable.yt-alert-success, .yt-alert-naked.yt-alert-success .yt-alert-icon, .yt-alert-small.yt-alert-success {
    background: linear-gradient(357deg, #0069c3, #002943);
}
    
.yt-alert .close {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflEXP50f.png) -47px -810px !important;
}
    
.yt-uix-button-primary, [modern-styles] .right_actions > button:last-child{
    background: linear-gradient(180deg, #0083ff 30%, #003b6d, #004f87);
    border-radius: 8px;
}
    
[exp-modern-playlists] .cardified-page .watch7-playlist-bar-right, .main-notification-panel, .pl-header {
    background: url(https://raw.githubusercontent.com/Randomuser8219/Randomuser8219-Userstyles/refs/heads/main/skeuomorphic-background-2.png);
    box-shadow: 0.5px 5px 6px 0px #00000091;
}
    
[exp-modern-playlists] #watch7-playlist-tray{
    background: url(https://cdn.pixabay.com/photo/2015/09/10/14/14/scratched-934483_1280.jpg) -300px -90px !important;
}
    
#watch7-playlist-tray .video-list-item {
    border-bottom: 2px outset #6f6f6f !important;
}
    
[modern-cards]:not([chan-loc="videos"]) .dark-mode.exp-top-guide #page.channel .branded-page-v2-has-top-row .branded-page-v2-secondary-col .branded-page-box, [modern-cards]:not([chan-loc="playlists"]) .dark-mode.exp-top-guide #page.channel .branded-page-v2-has-top-row .branded-page-v2-secondary-col .branded-page-box, .branded-page-v2-primary-col .distiller_streamcontent:not(.feed) .distiller_yt_embed_wrapper {
    background: linear-gradient(242deg, #090909, #30303000), url(https://cdn.pixabay.com/photo/2015/09/10/14/14/scratched-934483_1280.jpg) 0px 0px !important;
    box-shadow: 1px 5px 10px 0px black !important;
}
    
[modern-styles] .distiller_yt_instance .distiller_yt-sb .oz-comment_post-dismiss::after {
    background: linear-gradient(180deg, #737373 10%, #d7d7d7 40%, #e1e1e1) !important;
    border-radius: 8px;
}
    
#yt-masthead #search-btn .yt-uix-button-content {
    margin: 0 10px;
}
    
.oz-panel-previous-posts-button {
    margin:unset !important;
    width:410px;
}

.pl-header {
    padding-left: 10px;
    padding-top: 10px;
}
}
