/* ==UserStyle==
@name           Pre-Late 2023 YT Amsterdam Improvements
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Improves upon Magma_Craft's early Amsterdam userstyle.
@author         Me
==/UserStyle== */

@-moz-document domain("youtube.com") {
#background.ytd-masthead {
    background: var(--yt-spec-base-background) !important;
}

ytd-guide-section-renderer[modern-typography] #guide-section-title.ytd-guide-section-renderer {
    font-weight: normal;
}

.page-header-view-model-wiz__page-header-flexible-actions--page-header-flexible-actions-margin-bottom {
    margin-bottom: 0px;
}

.page-header-view-model-wiz__page-header-flexible-actions--page-header-flexible-actions-margin-top {
    margin-top: -30px;
}
.yt-flexible-actions-view-model-wiz--inline {
    flex-direction: row;
}
.yt-flexible-actions-view-model-wiz {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: flex-end;
}
#voice-search-button.ytd-masthead {
    background-color: unset !important;
}
.page-header-view-model-wiz__page-header-title--page-header-title-large {
    margin-top: 12px !important;
    margin-bottom: 8px !important;
    color: var(--yt-spec-text-primary) !important;
    font-size: 1.6em !important;
    line-height: 1.4em !important;
    font-weight: 500 !important;
}
}
